.container
	.row.panel
		.col-md-4
			= render 'form'
		.col-md-7.col-md-offset-1
			= image_tag("http://res.cloudinary.com/kaoxyooj/image/upload/c_scale,w_1920/v1491498474/download_ya0nth.jpg", class: 'img_preview')